#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #575757;
  position: relative;
}
#banner #static-nav-bar {
  z-index: 0;
  top: 0;
  transition: none;
  background: transparent;
  box-shadow: none;
  position: absolute;
}
#banner #static-nav-bar #static-nav-bar-icon a {
  color: white;
}
#banner #static-nav-bar #static-nav-bar-box #static-nav-bar-links a {
  color: white;
  font-weight: 300;
}
#banner #static-nav-bar #static-nav-bar-box #static-nav-bar-links a::before {
  background: white !important;
}
#banner #static-nav-bar #static-nav-bar-profile-box i {
  color: white;
}
#banner #static-nav-bar #static-nav-bar-profile-box i#static-nav-bar-profile {
  border-color: white;
}
#banner #banner-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#banner #banner-box #banner-title {
  font-weight: 700;
  color: white;
  font-size: 70px;
}
#banner #banner-box #banner-text {
  margin: 29px 0px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  width: 455px;
}
#banner #banner-box #banner-button {
  height: 60px;
  width: 196px;
  background: var(--azul-claro);
  font-size: 20px;
  border-radius: 100px;
  border: none;
  font-weight: 500;
  color: white;
  transition: all 0.3s;
}
#banner #banner-box #banner-button:hover {
  transition: all 0.3s;
  background: white;
  color: var(--azul-claro);
  cursor: pointer;
  border: 3px solid var(--azul-claro);
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 720px;
}
#about #about-box {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 1fr;
  gap: 50px;
}
#about #about-box #about-left {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  grid-area: 1/1/2/2;
}
#about #about-box #about-left #about-left-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about #about-box #about-left #about-left-box #about-left-subtitle {
  font-size: 18px;
  font-weight: 600;
  color: var(--texto-escuro);
  width: 400px;
  margin: 13px 0px 20px 0px;
}
#about #about-box #about-left #about-left-box #about-left-image {
  height: 300px;
  width: 240px;
  background: var(--azul-medio-5p);
  border-radius: 0px 30px 0px 30px;
}
#about #about-box #about-left #about-left-box #about-left-image-crator {
  font-weight: 500;
  font-size: 12px;
  color: var(--texto);
  margin-top: 3px;
}
#about #about-box #about-right-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about #about-box #about-right-box #about-right {
  grid-area: 1/2/2/3;
  width: 500px;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 40px;
}
#about #about-box #about-right-box #about-right .content {
  width: calc(50% - 20px);
}
#about #about-box #about-right-box #about-right .content .content-title {
  color: var(--azul-medio);
  font-size: 24px;
  font-weight: 600;
}
#about #about-box #about-right-box #about-right .content .content-text {
  color: var(--texto);
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}

#blog {
  height: 686px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
#blog #blog-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
#blog #blog-box .blog-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 547px;
}
#blog #blog-box .blog-card a .blog-card-thumbnail {
  width: 547px;
  height: 305px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 80%);
  transition: all 0.3s;
  overflow: hidden;
}
#blog #blog-box .blog-card a .blog-card-thumbnail .blog-card-thumbnail-img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
  background: #ccc;
}
#blog #blog-box .blog-card a .blog-card-thumbnail:hover {
  cursor: pointer;
}
#blog #blog-box .blog-card a .blog-card-thumbnail:hover .blog-card-thumbnail-img {
  transition: all 0.3s;
  scale: 1.1;
}
#blog #blog-box .blog-card a .blog-card-thumbnail .blog-card-thumbnail-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 20px;
}
#blog #blog-box .blog-card a .blog-card-thumbnail .blog-card-thumbnail-box .blog-card-title {
  width: 100%;
  font-weight: 600;
  font-size: 32px;
  padding-bottom: 18px;
  line-height: 33px;
}
#blog #blog-box .blog-card a .blog-card-thumbnail .blog-card-thumbnail-box .blog-card-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#blog #blog-box .blog-card a .blog-card-thumbnail .blog-card-thumbnail-box .blog-card-data .blog-card-data-day {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: -6px;
}
#blog #blog-box .blog-card a .blog-card-thumbnail .blog-card-thumbnail-box .blog-card-data .blog-card-data-month {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 13px;
}
#blog #blog-box .blog-card .blog-card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--azul-medio-5p);
  width: 100%;
}
#blog #blog-box .blog-card .blog-card-info .blog-card-creator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}
#blog #blog-box .blog-card .blog-card-info .blog-card-creator .blog-card-creator-pfp {
  width: 50px;
  height: 50px;
  background: #ccc;
  border-radius: 50%;
  overflow: hidden;
}
#blog #blog-box .blog-card .blog-card-info .blog-card-creator .blog-card-creator-name {
  font-weight: 400;
  font-size: 16px;
  color: var(--texto);
  text-align: center;
  line-height: 20px;
}
#blog #blog-box .blog-card .blog-card-info .blog-card-creator .blog-card-coments {
  font-weight: 400;
  font-size: 12px;
  color: var(--texto);
}
#blog #blog-box .blog-card .blog-card-info .blog-card-description {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding: 18px;
}
#blog #blog-box .blog-card .blog-card-info .blog-card-description .blog-card-text {
  font-weight: 400;
  font-size: 14px;
  color: var(--texto);
  text-align: justify;
  width: 360px;
}
#blog #blog-box .blog-card .blog-card-info .blog-card-description .blog-card-button {
  height: 45px;
  width: 130px;
  font-size: 18px;
  font-weight: 400;
  background: var(--azul-medio);
  border: none;
  color: white;
  transition: all 0.3s;
}
#blog #blog-box .blog-card .blog-card-info .blog-card-description .blog-card-button:hover {
  transition: all 0.3s;
  cursor: pointer;
  transform: scale(1.05);
  filter: brightness(1.15);
}

#atividades {
  height: 568px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  flex-direction: column;
}
#atividades #atividades-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#atividades #atividades-box .atividades-card {
  width: 355px;
}
#atividades #atividades-box .atividades-card .atividades-card-thumbnail {
  position: relative;
  width: 355px;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: end;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 80%);
  transition: all 0.3s;
  overflow: hidden;
}
#atividades #atividades-box .atividades-card .atividades-card-thumbnail:hover .atividades-card-thumbnail-img {
  scale: 1.1;
  transition: all 0.3s;
}
#atividades #atividades-box .atividades-card .atividades-card-thumbnail .atividades-card-thumbnail-img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
  background: #ccc;
}
#atividades #atividades-box .atividades-card .atividades-card-thumbnail .atividades-card-title {
  padding: 0 20px 15px 20px;
  color: white;
  font-weight: 600;
  font-size: 24px;
}
#atividades #atividades-box .atividades-card .atividades-card-info {
  background: var(--azul-medio-5p);
}
#atividades #atividades-box .atividades-card .atividades-card-info .atividades-card-text {
  font-weight: 600;
  font-size: 16px;
  color: var(--azul-medio);
  padding: 17px 20px 18px 20px;
  text-align: justify;
}

#quadrinhos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
  min-height: 627px;
  padding: 60px 0 100px 0;
}
#quadrinhos #quadrinhos-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}
#quadrinhos #quadrinhos-box .quadrinhos-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
#quadrinhos #quadrinhos-box .quadrinhos-card .quadrinhos-card-img-box {
  display: flex;
  background: var(--azul-medio-15p);
  overflow: hidden;
}
#quadrinhos #quadrinhos-box .quadrinhos-card .quadrinhos-card-img-box:hover .quadrinhos-card-img {
  transition: all 0.3s;
  scale: 1.1;
}
#quadrinhos #quadrinhos-box .quadrinhos-card .quadrinhos-card-img-box .quadrinhos-card-img {
  height: 311px;
  width: 259px;
  opacity: 0.95;
  transition: all 0.3s;
}
#quadrinhos #quadrinhos-box .quadrinhos-card .quadrinhos-card-info {
  background: var(--azul-medio-5p);
  width: 695px;
  min-height: 311px;
  padding: 28px 42px;
}
#quadrinhos #quadrinhos-box .quadrinhos-card .quadrinhos-card-info .quadrinhos-card-title {
  color: var(--azul-medio);
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}
#quadrinhos #quadrinhos-box .quadrinhos-card .quadrinhos-card-info .quadrinhos-card-text {
  color: var(--texto);
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0 33px 0;
}
#quadrinhos #quadrinhos-box .quadrinhos-card .quadrinhos-card-info .card-advance-bar-box .card-advance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 620px;
  height: 10px;
  border-radius: 100px;
  background: linear-gradient(to right, var(--azul-medio) 25%, white 25%);
  box-shadow: inset 0 0 5px rgba(32, 82, 149, 0.25);
}
#quadrinhos #quadrinhos-box .quadrinhos-card .quadrinhos-card-info .card-advance-bar-box .card-advance .card-advance-index {
  background: var(--azul-medio);
  font-size: 14px;
  font-weight: 600;
  color: white;
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  line-height: 0;
}
#quadrinhos #quadrinhos-box .quadrinhos-card .quadrinhos-card-info .card-advance-bar-box .card-advance .card-advance-stage {
  position: absolute;
  width: 130px;
  height: 45px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background: var(--azul-medio);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 161px;
  transform: translateX(-50%);
  top: 30px;
}
#quadrinhos #quadrinhos-box .quadrinhos-card .quadrinhos-card-info .card-advance-bar-box .card-advance .card-advance-stage .triangulo {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid var(--azul-medio);
  scale: 0.3;
  position: absolute;
  transform: translateY(-76px);
}

#quadrinhos-conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
  min-height: 627px;
  padding: 60px 0 100px 0;
}
#quadrinhos-conteudo #conteudo-box {
  width: 966px;
}
#quadrinhos-conteudo #conteudo-box #conteudo-text {
  font-weight: 400;
  font-size: 16px;
  color: var(--texto);
  text-align: justify;
  margin-bottom: 50px;
}
#quadrinhos-conteudo #conteudo-box #conteudo-card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 70px 30px;
}
#quadrinhos-conteudo #conteudo-box #conteudo-card-box a {
  width: calc(50% - 15px);
}
#quadrinhos-conteudo #conteudo-box #conteudo-card-box a .conteudo-card {
  background: var(--azul-medio-5p);
  padding: 30px 40px 35px 40px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}
#quadrinhos-conteudo #conteudo-box #conteudo-card-box a .conteudo-card .conteudo-card-title {
  font-size: 24px;
  color: var(--azul-medio);
  font-weight: 600;
}
#quadrinhos-conteudo #conteudo-box #conteudo-card-box a .conteudo-card .conteudo-card-text {
  font-weight: 400;
  font-size: 16px;
  color: var(--texto);
  text-align: justify;
}/*# sourceMappingURL=home.css.map */