#about-right{
    #content{
        .content-title{
            color: var(--azul-medio);
            font-size: 24px;
            font-weight: 600;
        }
        .content-text{
            color: var(--fonte-escura);
            font-size: 16px;
            font-weight: 400;
        }
    }
}