#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #575757;
    position: relative;

    #static-nav-bar{
        z-index: 0;
        top: 0;
        transition: none;
        background: transparent;
        box-shadow: none;
        position: absolute;
        #static-nav-bar-icon a{
                color: white;
            }
        
        #static-nav-bar-box #static-nav-bar-links a{
            color: white;
            font-weight: 300;
            &::before {
                background: white !important;
            }
        }
        #static-nav-bar-profile-box i {
            color: white;
            &#static-nav-bar-profile {
                border-color: white;
            }
        }
    }

    #banner-box {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #banner-title {
            font-weight: 700;
            color: white;
            font-size: 70px;
        }

        #banner-text {
            margin: 29px 0px;
            color: white;
            font-weight: 400;
            font-size: 20px;
            width: 455px;
        }

        #banner-button {
            height: 60px;
            width: 196px;
            background: var(--azul-claro);
            font-size: 20px;
            border-radius: 100px;
            border: none;
            font-weight: 500;
            color: white;
            transition: all 0.3s;

            &:hover {
                transition: all 0.3s;
                background: white;
                color: var(--azul-claro);
                cursor: pointer;
                border: 3px solid var(--azul-claro);
            }
        }
    }
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 720px;

    #about-box {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: 1fr;
        gap: 50px;

        #about-left {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            grid-area: 1 / 1 / 2 / 2;

            #about-left-box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                #about-left-subtitle {
                    font-size: 18px;
                    font-weight: 600;
                    color: var(--texto-escuro);
                    width: 400px;
                    margin: 13px 0px 20px 0px;
                }

                #about-left-image {
                    height: 300px;
                    width: 240px;
                    background: var(--azul-medio-5p);
                    border-radius: 0px 30px 0px 30px;
                }

                #about-left-image-crator {
                    font-weight: 500;
                    font-size: 12px;
                    color: var(--texto);
                    margin-top: 3px;
                }
            }
        }

        #about-right-box {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            #about-right {
                grid-area: 1 / 2 / 2 / 3;
                display: grid;
                grid-template-columns: repeat(2, 250px);
                grid-template-rows: repeat(2, 265px);
                grid-column-gap: 25px;
                grid-row-gap: 50px;

                .content {
                    .content-title {
                        color: var(--azul-medio);
                        font-size: 24px;
                        font-weight: 600;
                    }

                    .content-text {
                        color: var(--texto);
                        font-size: 16px;
                        font-weight: 400;
                        text-align: justify;
                    }

                    .box1 {
                        grid-area: 1 / 1 / 2 / 2;
                    }

                    .box2 {
                        grid-area: 2 / 1 / 3 / 2;
                    }

                    .box3 {
                        grid-area: 1 / 2 / 2 / 3;
                    }

                    .box4 {
                        grid-area: 2 / 2 / 3 / 3;
                    }
                }
            }
        }
    }
}

#blog {
    height: 686px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    #blog-box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;

        .blog-card {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 547px;

            // &:nth-child(2) .blog-card-thumbnail-img {
            //     background: url('../img/webtoon-banner.jpg') no-repeat center / cover;
            // }

            // &:nth-child(3) .blog-card-thumbnail-img {
            //     background: url('../img/webtoon-banner2.png') no-repeat center / cover;
            // }

            a {
                .blog-card-thumbnail {
                    width: 547px;
                    height: 305px;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    position: relative;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 80%);
                    transition: all 0.3s;
                    overflow: hidden;

                    .blog-card-thumbnail-img {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        z-index: -1;
                        transition: all 0.3s;
                        background: #ccc;
                    }

                    &:hover {
                        cursor: pointer;

                        .blog-card-thumbnail-img {
                            transition: all 0.3s;
                            scale: 1.1;
                        }
                    }

                    .blog-card-thumbnail-box {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        padding: 0 20px;

                        .blog-card-title {
                            width: 100%;
                            font-weight: 600;
                            font-size: 32px;
                            padding-bottom: 18px;
                            line-height: 33px;
                        }

                        .blog-card-data {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;

                            .blog-card-data-day {
                                font-weight: 600;
                                font-size: 32px;
                                margin-bottom: -6px;
                            }

                            .blog-card-data-month {
                                font-weight: 500;
                                font-size: 16px;
                                padding-bottom: 13px;
                            }
                        }
                    }
                }
            }

            .blog-card-info {
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--azul-medio-5p);
                width: 100%;

                .blog-card-creator {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 0 15px;

                    .blog-card-creator-pfp {
                        width: 50px;
                        height: 50px;
                        background: #ccc;
                        border-radius: 50%;
                        overflow: hidden;
                    }

                    .blog-card-creator-name {
                        font-weight: 400;
                        font-size: 16px;
                        color: var(--texto);
                        text-align: center;
                        line-height: 20px;
                    }

                    .blog-card-coments {
                        font-weight: 400;
                        font-size: 12px;
                        color: var(--texto);
                    }
                }

                .blog-card-description {
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    flex-direction: column;
                    padding: 18px;

                    .blog-card-text {
                        font-weight: 400;
                        font-size: 14px;
                        color: var(--texto);
                        text-align: justify;
                        width: 360px;
                    }

                    .blog-card-button {
                        height: 45px;
                        width: 130px;
                        font-size: 18px;
                        font-weight: 400;
                        background: var(--azul-medio);
                        border: none;
                        color: white;
                        transition: all 0.3s;

                        &:hover {
                            transition: all 0.3s;
                            cursor: pointer;
                            transform: scale(1.05);
                            filter: brightness(1.15);

                        }
                    }
                }
            }
        }
    }
}

#atividades {
    height: 568px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-direction: column;

    #atividades-box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .atividades-card {
            width: 355px;

            .atividades-card-thumbnail {
                position: relative;
                width: 355px;
                height: 225px;
                display: flex;
                justify-content: center;
                align-items: end;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 80%);
                transition: all 0.3s;
                overflow: hidden;

                &:hover .atividades-card-thumbnail-img {
                    scale: 1.1;
                    transition: all 0.3s;
                }

                .atividades-card-thumbnail-img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: -1;
                    transition: all 0.3s;
                    // background: url('../img/webtoon-banner3.jpeg') no-repeat center / cover;
                    background: #ccc;
                }

                .atividades-card-title {
                    padding: 0 20px 15px 20px;
                    color: white;
                    font-weight: 600;
                    font-size: 24px;
                }
            }

            .atividades-card-info {
                background: var(--azul-medio-5p);

                .atividades-card-text {
                    font-weight: 600;
                    font-size: 16px;
                    color: var(--azul-medio);
                    padding: 17px 20px 18px 20px;
                    text-align: justify;
                }
            }
        }
    }
}

#quadrinhos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    min-height: 627px;
    padding: 100px 0;

    #quadrinhos-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 100px;

        .quadrinhos-card {
            display: flex;
            justify-content: center;
            align-items: center;

            .quadrinhos-card-img-box {
                display: flex;
                background: var(--azul-medio-15p);
                overflow: hidden;

                &:hover .quadrinhos-card-img{
                    transition: all 0.3s;
                    scale: 1.1;

                }

                .quadrinhos-card-img {
                    height: 311px;
                    width: 259px;
                    opacity: 0.95;
                    transition: all 0.3s;
                }
            }

            .quadrinhos-card-info {
                background: var(--azul-medio-5p);
                width: 695px;
                min-height: 311px;
                padding: 28px 42px;

                .quadrinhos-card-title {
                    color: var(--azul-medio);
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 30px;
                }

                .quadrinhos-card-text {
                    color: var(--texto);
                    font-size: 16px;
                    font-weight: 400;
                    margin: 10px 0 33px 0;
                }

                .card-advance-bar-box {
                    .card-advance {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        position: relative;
                        width: 620px;
                        height: 10px;
                        border-radius: 100px;
                        background: linear-gradient(to right, var(--azul-medio) 25%, white 25%);
                        box-shadow: inset 0 0 5px rgba(32, 82, 149, 0.25);

                        .card-advance-index {
                            background: var(--azul-medio);
                            font-size: 14px;
                            font-weight: 600;
                            color: white;
                            width: 23px;
                            height: 23px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            line-height: 0;
                        }

                        .card-advance-stage {
                            position: absolute;
                            width: 130px;
                            height: 45px;
                            color: white;
                            font-size: 16px;
                            font-weight: 500;
                            background: var(--azul-medio);
                            border-radius: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            left: calc((155px * 1) + 6px);
                            transform: translateX(-50%);
                            top: 30px;

                            .triangulo {
                                width: 0;
                                height: 0;
                                border-left: 50px solid transparent;
                                border-right: 50px solid transparent;
                                border-bottom: 100px solid var(--azul-medio);
                                scale: 0.3;
                                position: absolute;
                                transform: translateY(-76px);
                            }
                        }
                    }
                }
            }

        }
    }
}