.nav-bar-animation {
  transform: translateY(150px);
  transition: all 0.5s;
}

.nav-bar-animation2 {
  transition: all 0.1s;
  opacity: 0;
}

.nav-bar,
#static-nav-bar {
  z-index: 10;
  position: fixed;
  top: -150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--pagina-branca);
  height: 116px;
  width: 100%;
  padding: 0 76px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
}
.nav-bar .nav-bar-icon a,
.nav-bar #static-nav-bar-icon a,
#static-nav-bar .nav-bar-icon a,
#static-nav-bar #static-nav-bar-icon a {
  color: var(--azul-medio);
  font-size: 24px;
  font-weight: 900;
  text-decoration: none;
}
.nav-bar .nav-bar-box,
.nav-bar #static-nav-bar-box,
#static-nav-bar .nav-bar-box,
#static-nav-bar #static-nav-bar-box {
  list-style: none;
  position: absolute;
  transform: translateX(calc(50vw - 76px - 50%));
  display: flex;
  gap: 46px;
}
.nav-bar .nav-bar-box .nav-bar-links a,
.nav-bar .nav-bar-box #static-nav-bar-links a,
.nav-bar #static-nav-bar-box .nav-bar-links a,
.nav-bar #static-nav-bar-box #static-nav-bar-links a,
#static-nav-bar .nav-bar-box .nav-bar-links a,
#static-nav-bar .nav-bar-box #static-nav-bar-links a,
#static-nav-bar #static-nav-bar-box .nav-bar-links a,
#static-nav-bar #static-nav-bar-box #static-nav-bar-links a {
  text-decoration: none;
  color: var(--texto);
  font-size: 20px;
  font-weight: 300;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar .nav-bar-box .nav-bar-links a::before,
.nav-bar .nav-bar-box #static-nav-bar-links a::before,
.nav-bar #static-nav-bar-box .nav-bar-links a::before,
.nav-bar #static-nav-bar-box #static-nav-bar-links a::before,
#static-nav-bar .nav-bar-box .nav-bar-links a::before,
#static-nav-bar .nav-bar-box #static-nav-bar-links a::before,
#static-nav-bar #static-nav-bar-box .nav-bar-links a::before,
#static-nav-bar #static-nav-bar-box #static-nav-bar-links a::before {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 2px;
  width: 0%;
  right: 0;
  background: var(--texto);
  border-radius: 10px;
  transition: all 0.3s;
}
.nav-bar .nav-bar-box .nav-bar-links a:hover::before,
.nav-bar .nav-bar-box #static-nav-bar-links a:hover::before,
.nav-bar #static-nav-bar-box .nav-bar-links a:hover::before,
.nav-bar #static-nav-bar-box #static-nav-bar-links a:hover::before,
#static-nav-bar .nav-bar-box .nav-bar-links a:hover::before,
#static-nav-bar .nav-bar-box #static-nav-bar-links a:hover::before,
#static-nav-bar #static-nav-bar-box .nav-bar-links a:hover::before,
#static-nav-bar #static-nav-bar-box #static-nav-bar-links a:hover::before {
  width: 100%;
  transition: all 0.3s;
  left: 0;
}
.nav-bar .nav-bar-profile-box,
.nav-bar #static-nav-bar-profile-box,
#static-nav-bar .nav-bar-profile-box,
#static-nav-bar #static-nav-bar-profile-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 29px;
}
.nav-bar .nav-bar-profile-box i,
.nav-bar #static-nav-bar-profile-box i,
#static-nav-bar .nav-bar-profile-box i,
#static-nav-bar #static-nav-bar-profile-box i {
  color: var(--texto);
  height: 40px;
  width: 40px;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.nav-bar .nav-bar-profile-box i:hover,
.nav-bar #static-nav-bar-profile-box i:hover,
#static-nav-bar .nav-bar-profile-box i:hover,
#static-nav-bar #static-nav-bar-profile-box i:hover {
  cursor: pointer;
}
.nav-bar .nav-bar-profile-box i.nav-bar-notification::before, .nav-bar .nav-bar-profile-box i#static-nav-bar-notification::before,
.nav-bar #static-nav-bar-profile-box i.nav-bar-notification::before,
.nav-bar #static-nav-bar-profile-box i#static-nav-bar-notification::before,
#static-nav-bar .nav-bar-profile-box i.nav-bar-notification::before,
#static-nav-bar .nav-bar-profile-box i#static-nav-bar-notification::before,
#static-nav-bar #static-nav-bar-profile-box i.nav-bar-notification::before,
#static-nav-bar #static-nav-bar-profile-box i#static-nav-bar-notification::before {
  font-size: 25px;
  position: absolute;
}
.nav-bar .nav-bar-profile-box i.nav-bar-profile, .nav-bar .nav-bar-profile-box i#static-nav-bar-profile,
.nav-bar #static-nav-bar-profile-box i.nav-bar-profile,
.nav-bar #static-nav-bar-profile-box i#static-nav-bar-profile,
#static-nav-bar .nav-bar-profile-box i.nav-bar-profile,
#static-nav-bar .nav-bar-profile-box i#static-nav-bar-profile,
#static-nav-bar #static-nav-bar-profile-box i.nav-bar-profile,
#static-nav-bar #static-nav-bar-profile-box i#static-nav-bar-profile {
  border: 3px solid var(--texto);
  border-radius: 50%;
}
.nav-bar .nav-bar-profile-box i.nav-bar-profile::before, .nav-bar .nav-bar-profile-box i#static-nav-bar-profile::before,
.nav-bar #static-nav-bar-profile-box i.nav-bar-profile::before,
.nav-bar #static-nav-bar-profile-box i#static-nav-bar-profile::before,
#static-nav-bar .nav-bar-profile-box i.nav-bar-profile::before,
#static-nav-bar .nav-bar-profile-box i#static-nav-bar-profile::before,
#static-nav-bar #static-nav-bar-profile-box i.nav-bar-profile::before,
#static-nav-bar #static-nav-bar-profile-box i#static-nav-bar-profile::before {
  margin-top: 10px;
  font-size: 30px;
  position: absolute;
}

#static-nav-bar {
  z-index: 0;
  top: 0;
  transition: none;
  position: absolute;
}

footer.footer {
  position: relative;
  color: white;
  height: 385px;
  width: 100%;
  background: var(--footer-bg);
}
footer.footer .footer-box {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin-left: 120px;
  height: calc(100% - 128px);
}
footer.footer .footer-box .footer-links-title {
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 10px;
}
footer.footer .footer-box .footer-links {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
footer.footer .footer-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 128px;
  background: var(--footer-bottom-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer.footer .footer-bottom .footer-bottom-text {
  font-size: 16px;
  font-weight: 500;
}

.default-page {
  margin-top: 116px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 106px;
  padding: 0 120px;
  position: relative;
}
.default-page .default-page-main-section {
  width: 720px;
  grid-area: 1/1/2/2;
}
.default-page .default-page-main-section .page-title {
  margin: 90px 0 54px 0;
}
.default-page .default-page-search-box {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 300px;
  grid-area: 1/2/2/3;
  height: 100%;
  padding-bottom: 177px;
}
.default-page .default-page-search-box .search-box {
  top: 10px;
  width: 300px;
}
.default-page .default-page-search-box .search-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--azul-medio);
  margin: 137px 0 22px 0;
}
.default-page .default-page-search-box .search-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  background: var(--azul-medio-5p);
  padding: 15px;
}
.default-page .default-page-search-box .search-content .search-bar {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 2px solid var(--azul-medio);
  border-radius: 5px;
  font-size: 16px;
  color: var(--azul-medio);
  font-weight: 600;
  outline: none !important;
  padding-left: 17px;
}
.default-page .default-page-search-box .search-content .search-bar::-webkit-search-cancel-button {
  display: none;
}
.default-page .default-page-search-box .search-content .search-bar::-moz-placeholder {
  font-weight: 600;
  color: var(--azul-medio);
  opacity: 0.8;
}
.default-page .default-page-search-box .search-content .search-bar::placeholder {
  font-weight: 600;
  color: var(--azul-medio);
  opacity: 0.8;
}
.default-page .default-page-search-box .search-content .search-content-recent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 0 15px;
}
.default-page .default-page-search-box .search-content .search-content-recent h1 {
  margin-top: 20px;
  font-size: 16px;
  color: var(--texto);
  font-weight: 400;
}
.default-page .default-page-search-box .search-content .search-content-recent ul li {
  padding: 5px 0 5px 10px;
}
.default-page .default-page-search-box .search-content .search-content-recent ul li a {
  font-weight: 500;
  color: var(--azul-claro);
  font-size: 14px;
}

.navigation {
  margin: 50px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.navigation .navigation-title {
  font-size: 18px;
  font-weight: 400;
  color: var(--texto-escuro);
}
.navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.navigation ul li {
  display: flex;
}
.navigation ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 2px solid var(--azul-medio);
  border-radius: 5px;
  transition: all 0.3s;
}
.navigation ul li a:hover {
  transition: all 0.3s;
  background: var(--azul-medio);
  color: white;
}/*# sourceMappingURL=props.css.map */