@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", "sans-serif";
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --pagina-branca: #fefefe;
    --azul-claro: #3990c0;
    --azul-medio: #205295;
    --azul-medio-5p: rgb(32, 82, 149, 0.05);
    --azul-medio-15p: rgb(32, 82, 149, 0.15);
    --azul-medio-20p: rgb(32, 82, 149, 0.2);
    --azul-escuro: #144272;
    --texto: #525252;
    --texto-escuro: #1e1e1e;
    --footer-bg: #081425;
    --footer-bottom-bg: #060e1a;
}

body {
    min-height: 100vh;
    background-color: var(--pagina-branca);
}

.texto-grande-azul {
    color: var(--azul-medio);
    font-size: 40px;
    font-weight: 600;
    line-height: 30px;
}
.texto-medio-azul {
    color: var(--azul-medio);
    font-size: 32px;
    font-weight: 600;
}
.texto-pequeno-azul {
    color: var(--azul-medio);
    font-size: 24px;
    font-weight: 600;
}
.texto-pequeno-escuro {
    color: var(--azul-medio);
    font-size: 24px;
    font-weight: 600;
}

.divider {
    border: 1.5px solid var(--azul-medio-20p);
}
